.DS_Store
build/
DerivedData/
*.xcodeproj
!project.yml
*.xcworkspace
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
PicAgoCore/.build/
.build/
Package.resolved
*.moved-aside
*.xccheckout
*.xcscmblueprint
